.DS_Store
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.*~
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
.stack-work/
_cache
_site
static/css/default.css
templates/*.html
epub/EPUB.css
Deploy
pdf/*.pdf
epub/*.epub
