@import url(https://fonts.googleapis.com/css?family=PT+Sans:400|PT+Serif:400,700,400italic|Ubuntu+Mono:400,400italic,700&subset=latin,cyrillic);

body {
    color: #002b36;
    font-size: 17px;
    font-family: 'PT Serif', sans-serif;
    background: #fdf6e3;
    text-align: justify;
}

h1 {
    color: #586e75;
    font-size: 30px;
    text-align: center;
    font-weight: 500 !important;
    padding-bottom: 35px;
    padding-top: 40px;
}

h2 {
    color: #586e75;
    font-size: 22px !important;
    font-weight: 500 !important;
    padding-top: 30px;
    padding-bottom: 20px;
}

h3 {
    color: #586e75;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding-top: 15px;
    padding-bottom: 10px;
}

.sans {
    font-family: 'PT Sans', sans-serif;
}

div#logo .navbar-brand {
    padding-top: 16px;
}

.navbar a, .navbar-header a {
    border-bottom: 0 !important;
    text-decoration: none !important;
}

nav {
    opacity: 0.9;
    background-color: #2aa198;
}

nav ul a {
    font-size: 26px;
}

nav .brand-logo {
    font-size: 26px;
}

.side-nav li {
    padding: 0 !important;
}

.side-nav a {
    font-size: 18px !important;
}

.smaller-text {
    font-size: 100%;
}

a {
    color: #268bd2;
}

.navbar-default {
    background-color: #FFF;
    border-color: #E7E7E7;
    opacity: 0.91;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #222;
}

.chapter-arrow {
    font-size: 21px;
}

.cover-title {
    font-size: 48px;
    padding-bottom: 15px;
    color: #586e75;
}

.cover-v2 {
    font-size: 20px;
    padding-bottom: 70px;
    color: #586e75;
}

.community-title {
    padding-top: 25px;
    font-size: 17px;
}

.main-menu {
    padding-top: 15px;
    text-align: center;
    font-size: 19px;
}

.main-menu-links-separator {
    padding-left: 25px;
}

.intro {
    padding-bottom: 41px;
    padding-left: 35px;
    padding-right: 35px;
    border-bottom: solid 1px #ccc;
    color: #444;
}

.clear-button {
    padding-top: 24px;
}

.clear-button a {
    text-decoration: none !important;
    border-bottom: 0 !important;
}

.footer-links-separator {
    padding-left: 10px;
}

.powered-by {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
}

.monospace-follow {
    font-size: 19px;
    font-family: 'Ubuntu Mono', monospace;
}

.dropdown-menu {
    font-size: 15px;
}

blockquote {
    margin-left: 0 !important;
    padding-left: 20px !important;
    color: #777;
    border-left: 5px solid #ee6e73;
}

a, a:visited, a:active {
    /* color: #2d3644; */
    text-decoration: none;
    /* border-bottom: 1px #333 dotted; */
}

a:hover {
    /* color: #5493ff; */
    text-decoration: none;
    /* border-bottom: 1px #999 solid; */
}

/* Loosely based on pygment's default colors */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode { }
pre.sourceCode span.kw { color: #007020; font-weight: bold; }
pre.sourceCode span.dt { color: #902000; }
pre.sourceCode span.dv { color: #40a070; }
pre.sourceCode span.bn { color: #40a070; }
pre.sourceCode span.fl { color: #40a070; }
pre.sourceCode span.ch { color: #4070a0; }
pre.sourceCode span.st { color: #4070a0; }
pre.sourceCode span.co { color: #60a0b0; font-style: italic; }
pre.sourceCode span.ot { color: #007020; }
pre.sourceCode span.al { color: red; font-weight: bold; }
pre.sourceCode span.fu { color: #06287e; }
pre.sourceCode span.re { }
pre.sourceCode span.er { color: red; font-weight: bold; }

pre.sourceCode {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 100% !important;
    border: 1px solid #eee8d5; /* Параметры границы */
    border-radius: 3px;
    background: #eee8d5; /* Цвет фона */
    padding: 7px; /* Поля вокруг текста */
    margin-top: 18px;
    margin-bottom: 18px;
}

.sourceCode code {
    font-family: 'Ubuntu Mono', monospace !important;
}

p>code {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 100% !important;
    border-radius: 3px;
    border: 1px solid #eee8d5; /* Параметры границы */
    background: #eee8d5; /* Цвет фона */
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #000;
}

span>code {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 100% !important;
    border-radius: 3px;
    border: 1px solid #eee8d5; /* Параметры границы */
    background: #eee8d5; /* Цвет фона */
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #000;
}

li>code {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 100% !important;
    border-radius: 3px;
    border: 1px solid #FBE7D8; /* Параметры границы */
    background: #fdf6e3; /* Цвет фона */
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #000;
}

#gsc-iw-id1{
    height: 30px;
    border-color: #898989;
}

input.gsc-search-button-v2{
    width: 71px;
    height: 29px;
}

.gsc-search-button {
    display: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #F5F3EE;
    color: #000;
}

.custom-tabs {
    margin-bottom: 35px;
}

.links-divider {
    padding-top: 6px;
}

.links-group-title {
    font-size: 20px;
    padding-bottom: 15px;
}

.links-indent {
    padding-left: 15px;
}

.tag-in-title {
    color: #777;
}

.chapters-selector {
    font-size: 32px;
}

.chapters-selector a {
    text-decoration: none !important;
    border-bottom: none !important;
}

.side-nav a {
    text-align: left;
    font-size: 16px;
}

.author {
    padding-left: 15px;
}

.get-button {
    width: 120px;
}

.get-button-separator {
    padding-bottom: 25px;
}
