<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="О Haskell по-человечески. Ваша первая книга о прекрасном и удивительном языке программирования.">
        <meta name="author" content="Денис Шевченко">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

        <link rel="icon" href="/static/images/favicon.ico">

        <title>О Haskell по-человечески</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

        <!-- Own css and js -->
        <link href="/static/css/default.css" rel="stylesheet">
        <script src="/static/js/default.js"></script>

        <script>
          window.___gcfg = {
            lang: 'ru'
          };
        </script>

        <script src="https://apis.google.com/js/platform.js" async defer>
        </script>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
                <div class="left author">
                    &copy; 2016 <a href="http://dshevchenko.biz" target="_blank">Д. Шевченко</a>
                </div>

                <ul id="nav-mobile" class="right">
                    <li><a href="https://github.com/denisshevchenko/ohaskell.guide" target="_blank"><span class="fa fa-github"></span></a></li>
                    <li><a href="mailto:me@dshevchenko.biz?Subject=#ohaskell,%20О%20книге" title="Написать автору"><span class="fa fa-envelope-o"></span></a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row center" style="padding-top: 70px;">
                <div class="cover-title">
                    О Haskell по-человечески
                </div>

                <div class="cover-v2">
                    издание 2.0
                </div>

                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="/init.html">HTML</a></li>
                    <li><a href="https://github.com/denisshevchenko/ohaskell.guide/blob/master/ohaskell.pdf">PDF</a></li>
                    <li><a href="https://github.com/denisshevchenko/ohaskell.guide/blob/master/ohaskell.epub">EPUB</a></li>
                </ul>
                <a class="btn btn-large dropdown-button orange darken-2" href="#!" data-activates="dropdown1">Читать<i class="mdi-navigation-arrow-drop-down right"></i></a>
            </div>
        </div> <!-- container -->
    </body>
</html>
