<!DOCTYPE HTML>

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="О Haskell по-человечески. Ваша первая книга о прекрасном и удивительном языке программирования.">
        <meta name="author" content="Денис Шевченко">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <title>
            О Haskell по-человечески
        </title>
        <link rel="icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
            
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js">
            
        </script>
        <link rel="stylesheet" href="/static/css/default.css">
        <script src="/static/js/default.js">
            
        </script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <div class="left author sans">
                    &copy; 2016&nbsp;
                    <a href="http://dshevchenko.biz" target="_blank">
                        Д. Шевченко
                    </a>
                </div>
                <ul id="nav-mobile" class="right">
                    <li>
                        <a href="https://github.com/denisshevchenko/ohaskell.guide" target="_blank">
                            <span class="fa fa-github">
                                
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:me@dshevchenko.biz?Subject=#ohaskell,%20О%20книге" title="Написать автору">
                            <span class="fa fa-envelope-o">
                                
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row center" style="padding-top: 70px;">
                <div class="cover-title">
                    О Haskell по-человечески
                </div>
                <div class="cover-v2">
                    издание 2.0
                </div>
                <a class="waves-effect waves-light btn btn-large blue accent-2 get-button sans" href="/init.html">
                    HTML
                </a>
                <div class="get-button-separator">
                    
                </div>
                <a class="waves-effect waves-light btn btn-large red darken-1 get-button sans" href="https://github.com/denisshevchenko/ohaskell.guide/blob/master/pdf/ohaskell.pdf?raw=true">
                    PDF
                </a>
                <div class="get-button-separator">
                    
                </div>
                <a class="waves-effect waves-light btn btn-large light-green darken-1 get-button sans" href="https://github.com/denisshevchenko/ohaskell.guide/blob/master/epub/ohaskell.epub?raw=true">
                    EPUB
                </a>
            </div>
        </div>
    </body>
</html>
