<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="О Haskell по-человечески. Книга о прекрасном и удивительном языке. Для обыкновенных программистов.">
        <meta name="author" content="Денис Шевченко">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

        <link rel="icon" href="/static/images/favicon.ico">

        <title>#ohaskell</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

        <!-- Own css and js -->
        <link href="/static/css/default.css" rel="stylesheet">
        <script src="/static/js/default.js"></script>

        <script>
          window.___gcfg = {
            lang: 'ru'
          };
        </script>

        <script src="https://apis.google.com/js/platform.js" async defer>
        </script>
    </head>

    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo center sans">
                        #ohaskell
                    </a>

                    <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large" style="padding-left: 15px;">
                        <!-- <i class="material-icons">toc</i> -->
                        <i class="fa fa-list-ul" style="font-size: 30px;"></i>
                    </a>

                    <ul class="side-nav sans" id="mobile-demo">
                        <!-- % -->
                        <li><a href="/haskell-faq.html">Первые вопросы</a></li>
                        <li><a href="/this-book.html">Об этой книге</a></li>
                        <li><a href="/setup.html">Приготовимся</a></li>
                        <li><a href="/modules-minimum.html">Модули: знакомство</a></li>
                        <li><a href="/hackage.html">Hackage</a></li>
                        <li><a href="/expressions-n-functions.html">Мир выражений и функций</a></li>
                        <li><a href="/immutability-n-purity.html">Неизменность и чистота</a></li>
                        <li><a href="/functions-inside.html">Функции внутри</a></li>
                        <li><a href="/immutability.html">Функции: цепочки</a></li>
                        <li><a href="/immutability.html">Функции: лень</a></li>
                        <li><a href="/immutability.html">ФВП</a></li>
                        <li><a href="/immutability.html">Типы: знакомство</a></li>
                        <li><a href="/immutability.html">Типы: творим данные</a></li>
                        <li><a href="/immutability.html">Типы: творим типы</a></li>
                        <li><a href="/immutability.html">Классы: знакомство</a></li>
                        <li><a href="/immutability.html">Классы: творим</a></li>
                        <li><a href="/immutability.html">Функтор</a></li>
                        <li><a href="/immutability.html">Функтор: наш</a></li>
                        <li><a href="/immutability.html">Аппликативный функтор</a></li>
                        <li><a href="/immutability.html">Аппликативный функтор: наш</a></li>
                        <li><a href="/immutability.html">Монада</a></li>
                        <li><a href="/immutability.html">Монада: наша</a></li>
                        <li><a href="/immutability.html">Трансформер</a></li>
                        <li><a href="/immutability.html">Трансформер: наш</a></li>
                        <li><a href="/stackage.html">Stackage</a></li>
                        <li><a href="/immutability.html">Форматирование кода</a></li>
                        <li><a href="/immutability.html">Заключение</a></li>
                        <!-- % -->
                    </ul>

                    <ul id="nav-mobile" class="right">
                        <li><a href="https://github.com/denisshevchenko/ohaskell.guide" target="_blank"><span class="fa fa-github"></span></a></li>
                        <li><a href="mailto:me@dshevchenko.biz?Subject=#ohaskell,%20О%20книге" title="Написать автору"><span class="fa fa-envelope-o"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container">
            $body$
        </div>
    </body>
</html>
