@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: normal;
    src:url("PTSerif.ttc");
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    src:url("PTSerif.ttc");
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: normal;
    src:url("SourceCodePro-Regular.ttf");
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: bold;
    src:url("SourceCodePro-Semibold.ttf");
}

body {
    margin: 5%;
    text-align: justify;
    font-size: 11px;
    font-family: "PT Serif";
}

code {
    font-family: "Source Code Pro", monospace;
}

h1 {
    text-align: left;
    font-size: 20px;
    padding-bottom: 18px;
}

h2 {
    text-align: left;
    font-size: 15px;
    padding-top: 18px;
}

h3 {
    text-align: left;
}

h4 {
    text-align: left;
}

h5 {
    text-align: left;
}

h6 {
    text-align: left;
}

h1.main {
    text-align: center;
    font-size: 26px;
    padding-top: 50px;
}

h1.edition {
    text-align: center;
    font-size: 13px;
    padding-bottom: 50px;
}

h2.author {
    text-align: center;
    font-size: 13px;
}

h3.date { }

ol.toc {
    padding: 0;
    margin-left: 1em;
}

ol.toc li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

